<div class="container">
    <% @every_writing.each do |t| %>
      <div class="well">
          <span style="font-weight:bold;"> <%= t.subject %></br> </span>
        <div class="well">
          <%= t.stuff %></br>
        </div>
          <%= t.created_at %></br>
      </div>
    <% end %>
     <hr><br>
    <form action="/everyview_s" method="WRITING">
      <div class="form-group">
        <label for="exampleInputEmail1">나도 글쓰기!</label>
        <input type="text" name="subject" class="form-control" placeholder="제목">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">내용</label>
        <textarea class="form-control" name="stuff"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      <a href="/index_s" class="btn btn-primary btn-sm" role="button" >홈으로</a>

    </form>

</div>