<div class="jumbotron background-head" style="padding-top:20px;padding-bottom:20px;">
  <div class="container text-center" >
    <h1 style="color:white;">동아리 홍보</h1>    
    <p style="color:white;">영남대 동아리 소개 & 홍보</p>
  </div>
</div>

<nav class="navbar navbar-inverse" style="margin-bottom:0;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> 프로그램 소개 </a></li>
      </ul>
    </div>
  </div>
</nav>



 

<div class="container-fluid text-center background-body" style="padding-right:100px; padding-left:150px;">    
  <div class="row content text-center" style = "height :400px; margin-top: 20px;">
     <% @every_post.each do |p| %>
    
      <div class="col-sm-3 sidenav" style="padding-top:15px;">
        <div class="panel panel-default" style="margin:auto; height: 300px; width:250px;box-shadow: 3px 3px 3px #666666; ">
          <div class="panel-body">
            <a href="/read_h/<%=p.id%>" ><img src="<%= p.img_file.url%>"  width="200px" height="200px"></a>
            
          </div>
          <br><br>
                    <a href='/read_h/<%=p.id%>'><p>제목 : <%= p.title %></p></a>
        </div>
    </div>
       <% end %>
       
    <div class="col-sm-3 sidenav" style=" height: 300px; padding-top:100px;"> 
        <a href="/write_view_h"></a><button class="btn1 btn1:hover;">+</button>
    </div>


    </div>
  </div>
   

    <hr>
</div>


  <footer class="container-fluid text-left">
  <p>만든 이 : 영남대 ㅇㅇㅇ, ㅇㅇㅇ</p>
</footer>
