<div class="container">
    <% @writing.each. do |t| %>
    <%= @writing.subject%><br>
    <%=@writing.stuff%><br>
    <%=@writing.created_at%><br>
    <%end%>
</div>


<div class = "container">
    <form action = "/write_s" method="WRITING" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input type="text" name="subject" class="form-control" id="exampleInputEmail1" placeholder="제목">
      </div>
      <label for="exampleInputEmail1">내용</label>
      <textarea name = "stuff" class="form-control" rows="5" id="stuff"></textarea>    

      
      <button type="submit" class="btn btn-primary btn-sm" style="margin-top:20px;">등록하기</button>
    </form>
</div>
