
<div class = "container" style="margin-top:20px;" >
    <form action = "/write_s" method="WRITING" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input type="text" name="subject" class="form-control" id="exampleInputEmail1" placeholder="제목">
      </div>
      <label for="exampleInputEmail1">내용</label>
      <textarea name = "stuff" class="form-control" rows="5" id="comment" placeholder="내용"></textarea>    

      <div class="form-group"  style="margin-top:20px;">
        <label for="exampleInputFile">이미지 첨부</label>
        <input type="file" name = "img_file" id="exampleInputFile">
      </div>
      
      <button type="submit" class="btn btn-primary btn-sm" style="margin-top:20px;">등록하기</button>
    </form>

</div>

